<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CDN Links -->
         <link rel="stylesheet" href="/public/css/wed.css">
    <link rel="stylesheet" 
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>

    <!-- Tailwind CSS CDN Links -->
    <link href=
"https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" 
          rel="stylesheet"> 
          <style>
/* Optional: subtle animated gradient ring */
.ring-gradient{background:conic-gradient(var(--tw-gradient-stops))}
</style>
</head>
<body>
 <%- include('../includes/header.ejs') %>
  <%- include("../includes/flash.ejs") %>
        <%- body %>
    <%- include("../includes/footer.ejs") %>
</body>

</html>

